{% extends 'layout.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboard') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="dashboard">
        <div class="top-container mb-4 row g-0 rounded-4">
            <div class="col-8 border-end border-3">
                <div class="row text-center">
                    <div class="col p-4 pb-0 fs-1">{{ "now" | date('M, Y') }}</div>
                </div>
                <div class="row justify-content-between text-center">
                    <div class="col p-4 pb-0 fs-2">
                        <div>Impuestos</div>
                        <div class="fw-bold {{ totales.impuestos != 0 ? 'text-success' : 'text-danger' }}">
                           ${{ totales.impuestos | number_format(2) }}</span></div>
                    </div>
                    <div class="col p-4 pb-0 fs-2">
                        <div>Honorarios</div>
                        <div class="fw-bold {{ totales.honorarios != 0 ? 'text-success' : 'text-danger' }}">
                          ${{ totales.honorarios | number_format(2) }}</div>
                    </div>
                    <div class="col p-4 pb-0 fs-2">
                        <div>Transferencias</div>
                        <div class="fw-bold {{ totales.transferencias != 0 ? 'text-success' : 'text-danger' }}">
                          ${{ totales.transferencias | number_format(2) }}</div>
                    </div>
                    <div class="col p-4 pb-0 fs-2">
                        <div>Neto Total</div>
                        <div class="fw-bold {{ totales.net >= 0 ? 'text-success' : 'text-danger' }}">
                            ${{ totales.net | number_format(2) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col p-4">
                        <div class="fs-1 text-center mb-2">{{ "now" | date('Y') }} Resumen</div>
                        <canvas id="yearToDateChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="col p-4">
                <h4>Honorarios recientes</h4>
                <table class="table">
                    <tbody>
                        {% for honorario in honorarios %}
                            <tr>
                                <td>{{ honorario.concepto[0:20] }}</td>
                                <td class="{{ honorario.total > 0 ? 'text-success fw-bold' : '' }}">
                                    {{ honorario.total < 0 ? '-' : '' }}${{ honorario.total | abs | number_format(2) }}
                                </td>
                                <td>
                                    <div>{{ honorario.contribuyente ? honorario.contribuyente.identificador: 'N/A' }}</div>
                                    <div>{{ honorario.fecha | date('m/d/Y') }}</div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="contribuyentes-container row">
            {% for topContribuyente in topContribuyentesMayorImpuestos %}
                <div class="col">
                    <div class="contribuyente-card p-4 text-center d-flex align-items-center justify-content-center">
                        <div>
                            <h6 class="fs-6 fw-normal">{{ topContribuyente.identificador }}</h6>
                            <h1 class="fs-1 text-success text-opacity-75">${{ topContribuyente.total | number_format(2) }}</h1>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
